@import "~styles/common";

.modal {
  &__wrapper {
    @include flexCenter;
    @include positionAbsFull;

    opacity: 0;
    top: 0;
    left: 0;

    &.fade-in {
      opacity: 1;
      transition: opacity linear 0.15s;
    }
    &.fade-out {
      opacity: 0;
      transition: opacity linear 0.15s;
    }
  }

  &__overflow {
    @include positionAbsFull;

    background: $dark-grey;
    cursor: pointer;
  }

  &__content {
    background: $white;
    z-index: 1;
  }
}
