@import "~styles/common";

.delivery-widget {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $grey;
    padding: 15px;
    max-width: 400px;
    min-height: 200px;
    width: 100%;
    margin: 15px;
  }

  &__header {
    margin-bottom: 35px;

    .title {
      margin-bottom: 15px;
    }
  }

  &__description {
    display: inline;
    padding: 5px 10px;
    background: $grey-light;
    border-radius: 3px;
  }
}
