@import "~styles/common";

.calendar {
  &__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, auto);

    &-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid $red;
      padding: 15px;
      margin: 3px;
      text-align: center;
      cursor: pointer;

      &-text {
        color: $red;
      }

      &--disabled {
        background: $grey;
        border-color: transparent;
        pointer-events: none;

        p {
          color: #333;
        }
      }

      &--selected {
        background: $red;
        border-color: transparent;

        p {
          color: $white;
        }
      }

      &--start-1 {
        grid-column-start: 1;
      }
      &--start-2 {
        grid-column-start: 2;
      }
      &--start-3 {
        grid-column-start: 3;
      }
      &--start-4 {
        grid-column-start: 4;
      }
      &--start-5 {
        grid-column-start: 5;
      }
      &--start-6 {
        grid-column-start: 6;
      }
      &--start-7 {
        grid-column-start: 7;
      }
    }
  }
}
