// colors
$yellow: rgb(240, 225, 24);
$red: rgb(230, 108, 85);
$pink: rgb(242, 196, 196);
$blue: rgb(29, 108, 147);
$grey: rgb(240, 240, 240);
$green: rgb(241, 247, 238);

$white: #fff;
$dark-grey: rgb(106, 106, 106);

// font-family
$font-family-cooper-hewitt: "CooperHewitt-Bold";
$font-family-gtpressura-regular: "GT-Pressura-Regular";
$font-family-gtpressura-mono: "GTPressuraMono";

// font-size
$font-size-h1: 28px;
$font-size-p-regular: 20px;
$font-size-p-small: 18px;
